```
/.idea
/build
/Pods
/.symlinks
/.DS_Store
/.githooks
.env
.flutter-plugins
.fvm
.packages
**/.dart_tool/
.android
.ios
**/.gradle/
**/.idea/
**/flutter_export.dart
**/.flutter-plugins/
**/.vscode/
```